{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="min-h-screen flex flex-col items-center justify-center p-6">
        <h1 class="text-4xl font-extrabold text-gray-700 mb-10">Mon Profil</h1>

        <div class="w-full max-w-4xl shadow-xl rounded-xl p-8 space-y-8">
            <!-- Informations Personnelles -->
            <div class="border-b border-gray-500 pb-6">
                <h2 class="text-2xl font-semibold text-gray-700 mb-4">Informations personnelles</h2>
                <div class="bg-gray-100 rounded-xl p-6 space-y-2 text-gray-600">
                    <p><strong>Pseudo :</strong> {{ app.user.username }}</p>
                    <p><strong>Email :</strong> {{ app.user.email }}</p>
                    <p><strong>Date de naissance :</strong> {{ app.user.birthdate|date('d/m/Y') }}</p>
                    <div class="mt-4 text-right">
                        <a href="{{ path('app_profile_edit', {'id': app.user.id}) }}"
                           class="inline-block bg-rose-300 text-gray-600 py-2 px-4 rounded-lg font-semibold hover:bg-rose-400 transition">
                            Modifier mes informations
                        </a>
                    </div>
                </div>
            </div>

            <!-- Sécurité -->
            <div>
                <h2 class="text-2xl font-semibold text-gray-700 mb-4">Sécurité</h2>
                <div class="bg-gray-100 rounded-xl p-6 flex flex-col items-center">
                    <div class="p-4 rounded-lg w-full">
                        <h3 class="text-lg font-medium text-gray-700 mb-2">Changer mon mot de passe</h3>
                        <div class="bg-red-400 max-w-md rounded-lg text-center text-white">
                            {% for type, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }} p-4 mb-4 text-white rounded bg-{{ type == 'success' ? 'green-400' : (type == 'error' ? 'red-400' : 'gray') }}-500">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {{ include('profile/_form.html.twig', {'button_label': 'Changer mon mot de passe'}) }}
                    </div>
                    <div class="bg-red-100 w-80 p-6 rounded-lg text-center">
                        <h3 class="text-lg font-medium text-red-700 mb-2">Suppression de compte</h3>
                        {{ include('profile/_delete_form.html.twig', {'user': app.user}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
