


{% block title %}Login{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="flex min-h-svh flex-col items-center bg-white justify-center gap-6 p-6 md:p-10">
        <div class="w-full max-w-sm">
            <div class="flex flex-col gap-6">
                <form action="{{ path('app_login') }}" method="post">
                    <div class="flex flex-col gap-6">

                        <div class="grid gap-2">
                            <Label for="registration_form_email"
                                   class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Email</Label>
                            <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    value="{{ last_username }}"
                                    placeholder=" "
                                    autocomplete="username"
                                    required
                                    autofocus
                                    class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                            />
                        </div>

                        <div class="grid gap-2">
                            <Label for="registration_form_plainPassword"
                                   class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Password</Label>
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    autocomplete="current-password"
                                    required
                                    class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                            />
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <button type="submit" id="signup"
                                class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-black text-white shadow hover:bg-black/90 h-9 px-4 py-2 w-full">
                            Continue
                        </button>

                    </div>

                    <div class="mt-4 text-center text-sm">
                        Already have an account?
                        <a href="{{ path('app_register') }}" class="underline underline-offset-4">
                            Sign up.
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %} 



